.TchatMessage {
    border: 1px solid grey;
    padding: 5px;
    min-width: 30%;
    border-radius: 8px;
    margin-top: 5px;
}
.isMine {
    text-align: right;
}
.messageId {
    display: none;
}
.messageHeader {
    font-style: italic;
    font-size: 8pt;
}
