.Mybutton {
    border: 1px solid skyblue;
    background-color: white;
    padding: 4px;
    display: inline-block;
    box-shadow: 5px 5px 15px grey;
    margin-left: 5px;
    margin-right: 5px;
}
.Mybutton_click{
    box-shadow: 8px 8px 15px grey;

}
.container img{
    width:48px;height:48px
}
.container {
    background-color: skyblue;
    color: white;
    padding: 2px 7px;
    vertical-align: middle;
}
